<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC58SN-K-kyDBGDJC1Hq4metzpd9WQwWqc</string>
	<key>GCM_SENDER_ID</key>
	<string>922702762472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectSocial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-social-3c0f3</string>
	<key>STORAGE_BUCKET</key>
	<string>project-social-3c0f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922702762472:ios:9457c5ffc35592ebf1d45d</string>
	<key>DATABASE_URL</key>
	<string>https://project-social-3c0f3-default-rtdb.firebaseio.com</string>
</dict>
</plist>